<a [classList]="'btn-' + button.type + ' btn me-1 mb-1'"
   [href]='button.link'>
  @if (button.type === ButtonType.AppStore) {
    <img style="height: 38px;" alt='Get it on App Store'
         src="/assets/appStore.svg">
  } @else if (button.type === ButtonType.PlayMarket) {
    <img style="height: 38px;" alt='Get it on Google Play'
         src='/assets/playMarket.png'/>
  } @else if (button.type === ButtonType.Github) {
    <i class="fab fa-github"></i>
  } @else {
    <span>{{ button.text }}</span>
  }
</a>
