<div class="bg-featured bg-gradient d-md-flex p-5 h-100">
  <div class="col-md-4 mb-3 mb-md-0 ms-md-4 ms-xl-5 px-5 px-md-0 px-lg-5">
    <img [src]="item.icon" [alt]="item.title" class="rounded-5 w-100 h-100">
  </div>
  <div class="d-flex flex-column align-items-center align-items-md-start col-md-8 px-md-5 me-xl-5">
    <h3>{{item.title}}</h3>
    <p class="flex-md-grow-1 text-center text-md-start">{{item.description}}</p>
    <app-buttons-inline [buttons]="item.buttons" class="flex-shrink-1"/>
  </div>
</div>
