@use 'bootstrap/scss/bootstrap';

.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  @extend .rounded-5;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-item-inner {
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(240, 242, 247, 0.95) 50%,
      rgba(230, 235, 245, 0.95) 100%
  );
}
